<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shuaib.mapper.MessagesMapper">

    <resultMap id="BaseResultMap" type="com.shuaib.bean.Messages">
            <id property="messageId" column="message_id" jdbcType="BIGINT"/>
            <result property="issueId" column="issue_id" jdbcType="BIGINT"/>
            <result property="senderRole" column="sender_role" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        message_id,issue_id,sender_role,
        content,create_time
    </sql>
</mapper>
